.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}


.error{
  border: red 2px solid;
}

.errorMessage{
  color:red
}

.activeFilter{
  background-color: #00e1ff;
  border-radius: 5px;
}
.buttonFilter{
  border-radius: 5px;
}
.buttonFilter:hover{
  background-color: rgba(116, 236, 208, 0.54);
  box-shadow: 4px -3px 14px aquamarine;
}